<div class="card card-body mb-3">
  <form (ngSubmit)="onSubmit()" action="">
    <div class="form-group">
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        class="form-control"
        placeholder="Add a log..."
      />
    </div>
    <input
      [disabled]="!this.text"
      type="submit"
      value="add log"
      class="btn btn-light"
    />
    <button [hidden]="!this.text" type="button" class="btn btn-warning">
      Clear
    </button>
  </form>
</div>
